.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
        background: $color-gray-500;
        padding: 0.8rem;
        border-radius: 1rem;
        color: $color-secondary;
    }
}