.trainers {
    .trainers__container {
        .trainer {
            padding: 1rem;
            .trainer__img {
                border-radius: 0 2rem;
                overflow: hidden;
            }

            p {
                margin-top: 0.5rem;
            }

            h3 {
                margin-top: 2rem;
            }

            .trainer__socials {
                display: flex;
                gap: 1rem; 
                justify-content: center;
                align-items: center;
                margin: 2rem 0;

                a {
                    font-size: 0.7rem;
                    background: $color-gray-600 ;
                    padding: 0.8rem;
                    border-radius: 0.7rem;
                    transition: $transition;
                }
            }

            &:hover a {
                background: $color-gray-500;
                color: $color-gray-100;
            }
        }
    }
}

// Media Queries (small screens)
@media screen and (max-width:600px) {
.trainers {
    .trainers__container {
        .trainer {
            width: 90%;
            margin-inline: auto;
        }
    }
}
}